body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Sans Serif', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}
