$gradient-primary: #0A246A;
$gradient-secondary: #A6CAF0;

$carrier-primary: pink;
$carrier-secondary: hotpink;
$battleship-primary: orange;
$battleship-secondary: darkorange;
$cruiser-primary: green;
$cruiser-secondary: darkgreen;
$submarine-primary: blue;
$submarine-secondary: darkblue;
$destroyer-primary: purple;
$destroyer-secondary: rebeccapurple;
