#homepage {
    .homepage__content {
        max-width: 480px;
        text-align: center;
        margin: 64px auto;
    }

    .background-image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url('/images/splash.jpeg');
        filter: blur(8px);
        -webkit-filter: blur(12px);
        margin: -12px;
        // height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
