.gameboard {
    &__table {

    }

    &__row {

    }

    &__cell {
        width: 32px;
        height: 32px;
        padding: 8px;
        box-sizing: border-box;
        border: 2px solid;
        border-color: #FFF #808080 #808080 #FFF;
        background: #C0C0C0;
        color: #000;
    }
}
