.gameboard {
    &__table {
        margin-left: -32px;

        td {
            width: 16px;
            height: 16px;
            padding: 4px;
            text-align: center;
            vertical-align: middle;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
            color: #888;
        }
    }

    &__row {

    }

    &__cell {
        box-sizing: border-box;
        border: 2px solid;
        border-color: #FFF #808080 #808080 #FFF;
        background: #C0C0C0;
        color: #000;
    }
}
