.ship-segment {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid;
    background: #444;
    border-color: #111;
    overflow: visible;

    &.--carrier {
        background: $carrier-primary;
        border-color: $carrier-secondary;
    }

    &.--battleship {
        background: $battleship-primary;
        border-color: $battleship-secondary;
    }

    &.--cruiser {
        background: $cruiser-primary;
        border-color: $cruiser-secondary;
    }

    &.--submarine {
        background: $submarine-primary;
        border-color: $submarine-secondary;
    }

    &.--destroyer {
        background: $destroyer-primary;
        border-color: $destroyer-secondary;
    }

    &.--hit {
        background: $submarine-primary;
        border-color: $submarine-secondary;
    }
}