.topbar {
    .logo {
        display: flex;
        align-items: center;

        img {
            width: 32px;
        }

        &__heading {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 0 16px;
        }
    }
}
