.topbar {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, $gradient-primary, $gradient-secondary);
    color: #FFF;
    padding: 8px 16px;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 32px;
        }

        h6 {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 0 16px;
        }
    }
}
